/* Todo fonts */

@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.main {
  background-image: url("./Assets/images/BG.jpg");
  height: 95vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(130vw, 1500px);
}

.main .box {
  height: 95vh;
  width: 100%;
  background-color: black;
  opacity: 0.69;
  position: absolute;
  top: 0;
}

nav {
  max-width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

nav img {
  color: red;
  width: 151px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  color: white;
  height: calc(100% - 162px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 23px;
  padding: 30px;
}

.hero> :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
}

.hero> :nth-child(2) {
  font-size: 24px;
  font-weight: 400px;
  text-align: center;
}

.hero> :nth-child(3) {
  font-size: 20px;
  font-weight: 400px;
  text-align: center;
}

.separetion {
  height: 7px;
  background-color: rgb(43, 43, 43);
  position: relative;
  z-index: 20;
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border: 1px solid white;
  border-radius: 4px;
  font-size: 18px;
}

.btn-red-sm {
  background-color: red;
  color: white;
  border-color: red;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 11px 24px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 4px;
  border-color: red;
  cursor: pointer;
}

.hero-btn {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.main input {
  color: white;
  padding: 7px 101px 8px 14px;
  font-family: 900;
  font-size: 15px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  color: white;
}

.secimg {
  position: relative;
}

.secimg img {
  width: 555px;
  position: relative;
  z-index: 10;
}

.secimg video {
  position: absolute;
  top: 51px;
  right: 0;
  width: 500px;
}

section.third video {
  position: absolute;
  top: 30px;
  right: 88px;
  width: 450px;
}

section.first>div {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

section.first:nth-child(4)>div:nth-child(2)>span:nth-child(1) {
  line-height: 1;
}

section.first>div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}

section.first>div :nth-child(2) {
  font-size: 24px;
  font-weight: bolder;
}

.faq {
  background-color: black;
  color: white;
  padding: 34px;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
}

.faq-box svg {
  filter: invert(1);
}

.faq-box {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 76vw;
  margin: 12px auto;
  cursor: pointer;
}

.faq-box:hover {
  transition: all 0.3s ease-out;
  background-color: rgb(73, 72, 72);
}

.faq h5 {
  text-align: center;
  font-size: 21px;
  font-weight: normal;
  padding: 20px 0;

}

.membership {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.membersip-mail {
  color: white;
  padding: 15px 101px 19px 14px;
  font-family: 900;
  font-size: 15px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}


footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 14px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

footer .question {
  padding: 34px 0;
}

footer a {
  font-size: 14px;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 13px;
}


#lan {
  padding: 4px 0;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  width: 110px;
  text-align: center;
}

option {
  color: black;
}

h6 {
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 5, 5, 1) 30%, rgba(255, 0, 0, 1) 70%, rgba(255, 255, 255, 0) 100%);
}